@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-clear {
  background: url('/images/Sunnyday.jpg');
}

.bg-rain{
 background: url('/images/rain.jpg');
}
.bg-snow{
 background: url('/images/Snow.jpg');
}
.bg-clouds{
 background: url('/images/clouds.jpg');
}
.bg-thunder{
 background: url('/images/thunder.jpg');
}
.bg-default{
  background-color: #f0f0f0;
}
